.datePicker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing);
  padding: var(--spacing-half);

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
  }

  button:not(:last-child) {
    position: relative;
    z-index: 1;
    flex: 1;
  }

  svg {
    height: 18px;
    width: 18px;
  }
}

.buttonPlaceholder {
  color: hsl(var(--muted-foreground));
}

.datePickerField {
  position: relative;
  flex: 1;

  display: flex;
}
