.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: left;

  gap: var(--spacing-2);

  h2 {
    font-size: 1.1em;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  width: 300px;
}

.accountCallout {
  position: absolute;
  bottom: var(--spacing-3);
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;

  color: hsl(var(--muted-foreground));

  font-size: 0.9em;

  a {
    color: hsl(var(--foreground));
    font-weight: bold;
  }
}
