.calendarEvent {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-quarter);

  border-radius: var(--radius);
  padding: var(--spacing-half);

  border-radius: var(--radius-small);
  padding: var(--spacing-quarter);
  overflow: hidden;
  width: 100%;

  font-weight: 700;
  font-size: 0.8em;

  @media (max-width: 768px) {
    padding: var(--spacing-quarter);
    gap: var(--spacing-quarter);
  }
}

.duration {
  font-size: 0.8em;
  font-weight: 400;
}

.calendarEvent--default {
  background-color: #039be5;
  color: white;
}

.calendarEvent--1 {
  background-color: #7986cb;
  color: black;
  svg {
    fill: black;
  }
}

.calendarEvent--2 {
  background-color: #33b679;
  color: black;
  svg {
    fill: black;
  }
}

.calendarEvent--3 {
  background-color: #8e24aa;
  color: white;
}

.calendarEvent--4 {
  background-color: #e67c73;
  color: black;
  svg {
    fill: black;
  }
}

.calendarEvent--5 {
  background-color: #f6c026;
  color: black;
  svg {
    fill: black;
  }
}

.calendarEvent--6 {
  background-color: #f5511d;
  color: white;
}

.calendarEvent--7 {
  background-color: #039be5;
  color: white;
}

.calendarEvent--8 {
  background-color: #616161;
  color: white;
}

.calendarEvent--9 {
  background-color: #3f51b5;
  color: white;
}

.calendarEvent--10 {
  background-color: #0b8043;
  color: white;
}

.calendarEvent--11 {
  background-color: #d60000;
  color: white;
}

.calendarEventIcon {
  width: 1.5em;
  height: 1.5em;
  flex: 0;

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
