.dayCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);

  padding: var(--spacing-half);
  overflow: hidden;
  flex: 1;

  &:not(:last-child) {
    border-right: 1px solid hsl(var(--border));
  }
}

.dayCell-size-small {
  padding: 0 var(--spacing-quarter);
  gap: var(--spacing-quarter);
}

.dateIndicator {
  text-align: center;
  font-size: 0.8em;
}

.dateIndicatorToday {
  color: var(--color-accent);
  box-shadow: 0 3px var(--color-accent);
}
