.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.title {
  font-size: 2em;
  padding: 0 var(--spacing);
  color: var(--color-accent);
}

.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}
